@model CoasterCredits.Models.Coaster

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Coaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CoasterID" />
            <div class="form-group">
                <label asp-for="CoasterName" class="control-label"></label>
                <input asp-for="CoasterName" class="form-control" />
                <span asp-validation-for="CoasterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoasterManufacturer" class="control-label"></label>
                <input asp-for="CoasterManufacturer" class="form-control" />
                <span asp-validation-for="CoasterManufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoasterStatus" class="control-label"></label>
                <select asp-for="CoasterStatus" class="form-control"></select>
                <span asp-validation-for="CoasterStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoasterType" class="control-label"></label>
                <select asp-for="CoasterType" class="form-control"></select>
                <span asp-validation-for="CoasterType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoasterStyle" class="control-label"></label>
                <select asp-for="CoasterStyle" class="form-control"></select>
                <span asp-validation-for="CoasterStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoasterHeight" class="control-label"></label>
                <input asp-for="CoasterHeight" class="form-control" />
                <span asp-validation-for="CoasterHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoasterLength" class="control-label"></label>
                <input asp-for="CoasterLength" class="form-control" />
                <span asp-validation-for="CoasterLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoasterSpeed" class="control-label"></label>
                <input asp-for="CoasterSpeed" class="form-control" />
                <span asp-validation-for="CoasterSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoasterInversions" class="control-label"></label>
                <input asp-for="CoasterInversions" class="form-control" />
                <span asp-validation-for="CoasterInversions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoasterPark" class="control-label"></label>
                <input asp-for="CoasterPark" class="form-control" />
                <span asp-validation-for="CoasterPark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
